autocorrect
certifi
chardet
idna
nltk
numpy
-e git+https://github.com/Strangemother/pocketsocket.git@722d4cfa6bf3b6354f10efe06431d1613ca5e9bd#egg=pocketsocket
requests
urllib3
websocket-client
