{% extends "base.html" %}


{% block main %}
    <section id="network">
        <div id="mynetwork"></div>
        <div class="network-extras">
{% raw %}
            <div id="colormap">
                <ul>
                    <li v-for='(color, key) in colors()'>
                        <span class="name">{{key}}</span>
                        <span class="color" :style='{backgroundColor: color}'>{{color}}</span>
                    </li>
                </ul>
            </div>
            <div class="question-input" id='question_input'>
                <div class="row buttons">
                    <button class="btn-flat" @click='clear()'>Clear</button>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                    <input placeholder="Word"
                        id="question"
                        type="text"
                        v-model='question'
                        @keyup.enter='inputString'
                        class="validate">
                        <label for="question">Word</label>
                    </div>
                </div>

                <div class="row list-messages">
                    <ul class="collection">
                        <li class="collection-item" v-for='item in messages'>
                            <p>
                                <a href="javascript:;" @click="getWord(item)">{{ item }}</a>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
{% endraw %}
        </div>
    </section>
{% endblock main %}

{% block js %}
    <script type="text/javascript" src="static/js/visual.js"></script>
    <script type="text/javascript" src="static/js/input_view.js"></script>
    <script type="text/javascript" src="static/js/colourmap_view.js"></script>
{% endblock js %}
